* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.backgroundsec {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#btnid {
  cursor: pointer;
  display: flex;
  background-color: white;
  border-radius: 0.5em;
  border: 1px solid black;
  padding: 0.2em;
  text-align: center;
  box-shadow: 2px 2px 2px 1px black;
  font-style: italic;
}
#btnid:hover {
  background-color: black;
  color: white;
}

.btn {
  color: black;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5em;
}
